.side-bar
  .side-bar__user
    .side-bar__user__top-items
      .side-bar__user__top-items-user-name
        = current_user.name
      .side-bar__user__top-items-icons
        = link_to new_group_path(current_user) ,class: "btns" do
          = icon('far', 'edit',class:"contents__btn") 
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog',class:"contents_btn_cog")
  .group-list
    - current_user.groups.each do |group|
      .group-list__group-form
        = link_to group_messages_path(group) do
          .group-list__group-form__side-group-name
            = group.name
          .group-list__group-form__new-message
            = group.show_last_message
    